.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #112315;
    padding-top: 50px;
    font-family: fangsong;
  }
  
  .title {
    font-size: 50px;
    color: #0f9024;
    font-family: pacifico, arial;
  }
  
  .subtitle {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
  }
  
  